{% extends "layout.html" %}


{% block content %}


    <header>
        <h1>Media Catalog Search</h1>
    </header>
    
    <!-- Search Form -->
    <section class="search-container">
        <h2>Find Media</h2>
        <form action="/search" method="GET">
            <input type="text" name="name" placeholder="Search by name...">
            <input type="text" name="location" placeholder="Search by location label...">
            <button type="submit">Search</button>
            <!-- The Clear Button: Just a link back to the search route -->
            <a href="{{ url_for('search') }}"><button type="button">Clear Filters</button></a>
        </form>
    </section>

    <h3>Results</h4>
    <!-- Results Table -->
    <table>
        <thead>
            <tr>    
                <th>Title</th>
                <th>Sub Title</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Disk Type</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for dvds in search_dvds %}
            <tr>
                <td><strong>{{ dvds['title'] }}</strong></td>
                <td>{{ dvds['season_name'] }}</td>
                <td>{{ dvds['type'] }}</td>
                <td>{{ dvds['genre'] }}</td>
                <td>{{ dvds['disk_type'] }}</td>
                <td>{{ dvds['location_label'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}