{% extends "layout.html" %}

{% block content %}

<header>
    <h1>Location Contents</h1>
</header>

<h2>Shelf: {{ param['loc'] }}</h2>
<p>Tales stored here: <strong>{{ counts[0].count }}</strong></p>

<table>
    <thead>
        <tr>
            <th>Shelf</th>
            <th>Tale</th>
            <th>Volume</th>
            <th>Form</th>
            <th>Format</th>
        </tr>
    </thead>
    <tbody>
        {% for item in box_results %}
        <tr>
            <td>{{ item['location_label'] }}</td>
            <td>{{ item['title'] }}</td>
            <td>{{ item['season_name'] }}</td>
            <td>{{ item['type'] }}</td>
            <td>{{ item['disk_type'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}